* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family: "Tinos", sans-serif; */
    background-color: rgba(12,3,51,0.4);
    color: white;
}

/* TRANSITION NAV SCROLL */
nav.scroll {
    background-color: rgba(114, 85, 129, 0.937);
    color: #eef;
  }

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

main, footer, body {
    background-color: transparent;
}


/* transparnt backgrounds */
nav ul, a, .header-content, .header-content h2, strong, #Experience, .experience-h3, .name-date, .experience-1, .name-date h4, .name-date h4 b, .experience-2, .name-bullets, ul, ul li, i, .name-bullets p, .tech-skills, .tech-skills-section, .tech-skills-list, .tech-skills-image, .education, .education-h3, .education-1, .education-2, #Projects, .projects-h3, #projects-list, .project-card, .project-card p, #Contact, .contact-box-form, .contact-left, .contact-right, .contact-h3, .input-row, .input-group, label, input, form, .contact-left h3, textarea, button, .contact-right h3, .lets-connect, .col-1 p, .col-2 p, .icons, .contact-right .lets-connect .col-1, .contact-right .lets-connect .col-2, .made-with, .fa-brands, div, .project-title-card{
    background-color: transparent;
}

/* NAV AND HEADER */
.clouds {
    /* border: 2px solid orange; */
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
}

nav {
    /* border: 2px solid red; */
    background-color: transparent;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.7s ease-out;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    background-color: transparent;
}

.fa-laptop-code {
    color: #fff;
    background-color: transparent;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.nav-a:hover {
    color:rgba(230, 179, 255, 0.957)
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}

.header-content h2{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}

.header-content a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    /* font-weight: 600; */
    border: 2px solid #fff;
    padding: 0.5rem 1.75rem;
    border-radius: 50px;
    margin-top: 20px;
}

/* VIDEO HEADER */
.back-video {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ABOUT */
#about-img {
    /* border: 2px solid aqua; */
    box-shadow: -4px 4px 10px 5px rgba(94, 70, 105, 0.68);
    border-radius: 50%;
    background-color: transparent;
}

#About {
    /* background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    /* border: 2px solid rgb(255, 0, 149); */
    padding: 7vh;
    margin-top: 2%;
    display: flex;
    border-radius: 20px;
    background-color: transparent;
}

#article-about-h3-p {
    /* border:2px solid orange; */
    /* background-color: rgba(12,3,51,0.3); */
    background-color: transparent;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-h3, .about-p-1, .about-p-2, .about-p-3 {
    background-color: transparent;
}

.about-h3 {
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
}


/* EXPERIENCE PORTION */

#Experience {
    /* border: 2px solid rgb(255, 0, 195); */
    border-radius: 20px;
    margin-top: 4.5rem;
    padding: 7vh;
    padding-top: 0.50%;
}

.experience-h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.name-date {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding: 0;
    margin-bottom: .25rem;
    margin-top: 2.5rem;
}

/* .name-bullets {
    border: 2px solid red;
} */

.name-bullets p {
    margin: 0px 0px;
    margin-bottom: .75rem;
}

.name-bullets ul li {
    margin-left: 2rem;
    /* list-style-type:symbols(); */
}

.education-h3 {
    text-align: center;
    padding-top: 2%;
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.tech-skills {
    /* margin-top: 1rem; */
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;;
}

.tech-skills-list {
    /* border: 2px solid aqua; */
    text-align: center;
    margin: auto 0;
    font-size: 1.1rem;

}

.tech-skills-section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5rem;
}

.tech-skills-image {
    /* border: 2px solid red; */
    border-radius: 10%;
    /* box-shadow: 3px 3px 7px 3px rgb(238, 108, 129); */
}

.tech-skills-item {
    list-style-type: none;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}


/* PROJECTS */
#Projects {
    /* border: 2px solid pink; */
    margin-top: 1rem;
    /* margin-bottom: 2rem; */
    padding-bottom:2.5rem;
    border-radius: 20px;
}

.projects-h3 {
    font-size: 2rem;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 3rem;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-evenly;
}

.project-card {
    background-color: rgba(33, 23, 82, 0.23);
    box-shadow: 3px 3px 10px 7px rgba(12,3,51,0.4);
    /* border: 2px solid white; */
    border-radius: 20px;
    /* padding: 0.5rem; */
    padding-bottom: 2rem;
    width: 50%;
    /* padding-top: 2rem; */
    margin-bottom: 5rem;
}

.made-with {
    font-size: 2rem;
    text-align: center;
}

.project-card-icons {
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.project-a-button {
    /* border: 2px solid orange; */
    background-color: rgba(12,3,51,0.4);
    box-shadow: 0px 5px 10px 3px rgba(124, 0, 181, 0.3);
    padding: .7rem;
    /* padding-top: 2rem; */
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    display: block;
    border: none;
    width: 7rem;
    margin: 0 auto;
    text-decoration: none;
}

.project-a-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.project-a-button:hover {
    background-color: rgba(12,3,51,0.4);
  /*  Making button bigger on hover  */
  transition: all 0.3s ease-in;
  transform: scale(1.1);
}

#Projects .project-card img {
    /* max-width: calc(100% - 1rem); */
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* margin-bottom: 1rem; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* padding:0; */
    /* padding-top: 2%; */
}

.project-title-card {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    /* border: 2px solid yellow; */
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-top: 3rem;
}

.p-projects {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right:1rem;
}

a:hover {
    text-decoration: none;
    color: white;
}


/* CONTACT ME */
.contact-h3 {
    font-size: 2rem;
    text-align: center;
}

.contact-box-form {
    /* border: 2px solid orange; */
    /* background-color: rgb(33, 33, 33); */
    display: flex;
    /* margin-bottom: 10px; */
    border-top: 2px solid white;
    /* margin-top: 3rem; */
    box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
}

.contact-left {
    /* border: 2px solid red; */
    flex-basis: 60%;
    padding: 20px 30px;
    /* margin-bottom: 20px; */
    /* box-shadow: 3px -3px 7px 5px rgb(215, 14, 233); */

}

.contact-right {
    /* background-color: rgb(33, 33, 33); */
    flex-basis: 40%;
    /* padding: 20px 40px; */
    color: white;
    /* box-shadow: 3px -3px 7px 5px aqua; */
    /* border: 2px solid red; */
    border-left: 2px solid white;
    margin: 0 auto;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    /* background-color: rgb(33, 33, 33); */
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    padding-bottom: 5px;
    color: white;
}

::placeholder {
    color: rgb(255, 255, 255);
}

textarea {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    padding: 10px;
    /* background-color: rgb(33, 33, 33); */
    color: white;
}

label {
    /* border: 2px solid red; */
    margin-bottom: 6px;
    display: block;
    color:rgba(12,3,51,0.6);
}

.contact-button {
    background-color: rgba(12,3,51,0.4);
    /* position: fixed; */
    display:block;
    width: 5rem;
    border: none;
    outline: none;
    color: white;
    height: 2rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
    box-shadow: 0px 5px 15px 0px rgba(124, 0, 181, 0.3);
}

.contact-left h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact-right h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

/* table {
    border: 2px solid red;
    margin-left: 3.5rem;
    background-color: rgba(12,3,51,0.4);
    border: 2px solid red;
} */

/* td, tr {
    border: none;
    border: 2px solid red;

} */


/* tr td:first-child {
    padding-right: 1.5rem;
}

tr td {
    padding-top: 2rem;
} */


.lets-connect {
    display: flex;
    justify-content: space-between;
    /* align-items: space-around; */
    /* background-color: */
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 2rem;
}

.contact-right .lets-connect .col-1{
    padding-right: 3rem;
}

/* .contact-right .lets-connect .col-2 .col-2-1{
    padding-left: 7rem;
}

.contact-right .lets-connect .col-1 .col-1-2{
    padding-right: 10rem;
    padding-bottom: 0;
}

.contact-right .lets-connect .col-2 .col-2-2{
    padding-left: 10rem;
}

.contact-right .lets-connect .col-1 .col-1-3{
    padding-right: 7rem;
}

.contact-right .lets-connect .col-2 .col-2-3{
    padding-left: 7rem;
}  */

.fa-brands {
    /* border: 2px solid red; */
    font-size: 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.icons {
    text-align: center;
    margin-top: 2rem;
}

/* .clouds {
    border: 2px solid red;
} */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    #About {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .about-p-1, .about-p-2, .about-p-3 {
        margin-bottom: 1rem;
    }

    #about-img {
        width: 100%;
        margin: 2rem;
        padding: auto;
        height: 100%;
    }

    .about-h3 {
        margin-bottom: 1.50rem;
    }

    #Experience {
        margin-top: 1rem;
    }

    .contact-box-form {
        flex-direction: column;
    }

    .contact-right {
        border-top: 2px solid white;
        margin: 0;
        padding-bottom: 2rem;
        border-left: none;
        /* padding-left: 2rem; */
    }

    .lets-connect {
        margin-top: 0;
        margin-right: 3rem;
        padding-top: 0.5rem;
        border-right: none;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content h2 {
        font-size: 1.5rem;;
    }

    .icons {
        margin-top: 0;
    }

    .project-card {
        width: 70%;
    }
}


@media screen and (min-width: 601px) and (max-width: 850px) {
	.contact-box-form {
        flex-direction: column;
    }

    .contact-right {
        border-top: 2px solid white;
        margin: 0;
        padding-bottom: 2rem;
        border-left: none;
    }

    .lets-connect {
        margin-top: 0;
        padding-top: 0.5rem;
        margin-right: 3rem;
    }
}

/* RESPONSIVE NAV BAR  */
@media screen and (min-width: 401px) and (max-width: 648px){

    /* .clouds {
        padding: 0;
    } */

    #navbar {
        padding-top: 2rem;
        /* padding-right: 0;
        padding-left:0;
        padding-right: 0.5rem;
        padding-left: 0.5rem; */
        width: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
        /* display: flex; */
        /* text-align: center; */
        /* padding: 0; */
        /* max-width: 100%; */
    }

    .nav-ul {
        display: flex;
        justify-content: flex-start;
        overflow: auto;

    }

    /* .nav-ul > .nav-a-1{
        padding-left: 0;
    } */

    header nav ul li {
        /* margin-left: 0.9rem; */
        /* margin-right: 0.4rem; */
        /* padding-right: .2em; */
        padding-left: .4em;
        margin: 0 auto;
    }

    #Home {
        padding: 0;
    }

    header nav ul li a .nav-a {
        font-size: 1rem;
        /* width: 25%; */
        text-align: center;
    }

    .fa-laptop-code {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .fa-laptop-code {
        display: none;
    }

    .nav-ul li {
        margin-left:0;
        /* padding-right: 0.1rem; */
    }

    nav {
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: center;
        /* overflow: auto; */

    }
}

@media screen and (max-width: 500px){
    video {
        display: none;
    }

    .clouds {
        background-image: url("./images/purple-cloud-image.png");
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position:relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
    }
}

@media screen and (min-width: 601px) and (max-width: 827px){
    #About {
        flex-direction: column;
        align-items: center;
    }

    .about-h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .about-p-1, .about-p-2, .about-p-3 {
        margin-bottom: 1rem;
    }
}