* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* background-color: rgba(12, 3, 51, 0.4); */
    background-color: rgba(33, 3, 51, 0.499);
    color: white;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

main, footer, body {
    background-color: transparent;
}

/* TRANSITION NAV SCROLL */

nav.scroll {
    background-color: rgba(119, 92, 134, 0.942);
    color: #eef;
  }

/* transparnt backgrounds */
nav ul, a, .header-content, .header-content h2, strong, #Experience, .experience-h3, .name-date, .experience-1, .name-date h4, .name-date h4 b, .experience-2, .name-bullets, ul, ul li, i, .name-bullets p, .tech-skills, .tech-skills-section, .tech-skills-list, .tech-skills-image, .education, .education-h3, .education-1, .education-2, #Projects, .projects-h3, #projects-list, .project-card, .project-card p, #Contact, .contact-box-form, .contact-left, .contact-right, .contact-h3, .input-row, .input-group, label, input, form, .contact-left h3, textarea, button, .contact-right h3, .lets-connect, .col-1 p, .col-2 p, .icons, .contact-right .lets-connect .col-1, .contact-right .lets-connect .col-2, .made-with, .fa-brands, div, .project-title-card, .back-video, .clouds{
    background-color: transparent;
}

/* NAV AND HEADER */

.clouds {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
}

nav {
    background-color: transparent;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.7s ease-out;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    background-color: transparent;
}

.fa-laptop-code {
    color: #fff;
    background-color: transparent;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.nav-a:hover {
    text-decoration: underline;
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}

.header-content h2{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}

.header-content a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 1.75rem;
    border-radius: 50px;
    margin-top: 20px;
}

/* VIDEO HEADER */

.back-video {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ABOUT */

#about-img {
    box-shadow: -4px 4px 20px 5px rgba(12,3,51,0.4);
    border-radius: 50%;
    background-color: transparent;
}

#About {
    padding: 7vh;
    margin-top: 2%;
    display: flex;
    border-radius: 20px;
    background-color: transparent;
}

#article-about-h3-p {
    background-color: transparent;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-h3, .about-p-1, .about-p-2, .about-p-3 {
    background-color: transparent;
}

.about-h3 {
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
}


/* EXPERIENCE PORTION */

#Experience {
    border-radius: 20px;
    margin-top: 4.5rem;
    padding: 7vh;
    padding-top: 0.50%;
}

.experience-h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.name-date {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: .25rem;
    margin-top: 2.5rem;
}

.name-bullets p {
    margin: 0px 0px;
    margin-bottom: .75rem;
}

.name-bullets ul li {
    margin-left: 2rem;
}

.education-h3 {
    text-align: center;
    padding-top: 2%;
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.tech-skills {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;;
}

.tech-skills-list {
    text-align: center;
    margin: auto 0;
    font-size: 2rem;

}

.tech-skills-section {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    /* align-items: center; */
    margin-top: 2%;
    margin-bottom: 5rem;
}

.tech-skills-item {
    text-align: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/* PROJECTS */

#Projects {
    margin-top: 1rem;
    padding-bottom:2.5rem;
    border-radius: 20px;
}

.projects-h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-card {
    background-color: rgba(33, 23, 82, 0.23);
    box-shadow: 3px 3px 10px 7px rgba(12,3,51,0.4);
    border-radius: 20px;
    padding-bottom: 2rem;
    width: 50%;
    margin-bottom: 5rem;
}

.made-with {
    font-size: 2rem;
    text-align: center;
}

.project-card-icons {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    /* margin-left: 2rem; */
}

.project-a-button {
    background-color: rgba(27, 3, 51, 0.4);
    box-shadow: 0px 5px 10px 3px rgba(90, 42, 120, 0.498);
    padding: .7rem;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    display: block;
    border: none;
    width: 7rem;
    margin: 0 auto;
    text-decoration: none;
}

.project-a-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.project-a-button:hover {
    background-color: rgba(27, 3, 51, 0.4);

  /*  Making button bigger on hover  */
  transition: all 0.3s ease-in;
  transform: scale(1.1);
}

#Projects .project-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 10px 30px 2px rgb(27, 27, 27);
}

.project-title-card {
    color: white;
    text-align: center;
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-top: 3rem;
}

.p-projects {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right:1rem;
}

a:hover {
    text-decoration: none;
    color: white;
}

.project-icons {
    text-align: center;
    font-size: 3rem;
    margin-left:3rem;
    margin-right: 3rem;
}


/* CONTACT ME */

.contact-h3 {
    font-size: 2rem;
    text-align: center;
}

.contact-box-form {
    background-color: rgba(114, 85, 129, 0.601);
    display: flex;
    border-top: 2px solid white;
    box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
}

.contact-left {
    flex-basis: 60%;
    padding: 20px 30px;

}

.contact-right {
    flex-basis: 40%;
    color: white;
    border-left: 2px solid white;
    margin: 0 auto;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    padding-bottom: 5px;
    color: white;
}

::placeholder {
    color: rgb(255, 255, 255);
}

textarea {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    padding: 10px;
    color: white;
}

label {
    margin-bottom: 6px;
    display: block;
    color: rgba(27, 3, 51, 0.936);
}

.contact-button {
    background-color: rgba(27, 3, 51, 0.4);
    box-shadow: 0px 5px 10px 3px rgba(27, 3, 51, 0.566);
    display:block;
    width: 5rem;
    border: none;
    outline: none;
    color: white;
    height: 2rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
}

.contact-left h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact-right h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}


.lets-connect {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 2rem;
}

/* .contact-right .lets-connect .col-1{
    padding-right: 3rem;
} */

.contact-icon {
    font-size: 3rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: 2.5rem;
}

.icons {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    margin-right: 2rem;
}

.contact-icon:hover {
    text-shadow: 5px 5px 15px rgba(27, 3, 51, 0.4);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    #About {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .about-p-1, .about-p-2, .about-p-3 {
        margin-bottom: 1rem;
    }

    #about-img {
        width: 100%;
        margin: 2rem;
        padding: auto;
        height: 100%;
    }

    .about-h3 {
        margin-bottom: 1.50rem;
    }

    #Experience {
        margin-top: 1rem;
    }

    .contact-box-form {
        flex-direction: column;
    }

    .contact-right {
        border-top: 2px solid white;
        margin: 0;
        padding-bottom: 2rem;
        border-left: none;
    }

    .lets-connect {
        margin-top: 0;
        margin-right: 3rem;
        padding-top: 0.5rem;
        border-right: none;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content h2 {
        font-size: 1.5rem;;
    }

    .icons {
        margin-top: 2rem;
    }

    .project-card {
        width: 70%;
    }
}


@media screen and (min-width: 601px) and (max-width: 850px) {
	.contact-box-form {
        flex-direction: column;
    }

    .contact-right {
        border-top: 2px solid white;
        margin: 0;
        padding-bottom: 2rem;
        border-left: none;
    }

    .lets-connect {
        margin-top: 0;
        padding-top: 0.5rem;
        margin-right: 3rem;
    }
}

/* RESPONSIVE NAV BAR  */
@media screen and (min-width: 401px) and (max-width: 648px){

    #navbar {
        padding-top: 2rem;
        width: 100%;
        /* overflow: auto; */
        display: flex;
        justify-content: center;
    }

    .nav-ul {
        display: flex;
        justify-content: flex-start;
        /* overflow: auto; */

    }

    .nav-a:hover {
        text-decoration: underline;
    }

    header nav ul li {
        padding-left: .4em;
        margin: 0 auto;
    }

    #Home {
        padding: 0;
    }

    header nav ul li a .nav-a {
        font-size: 1rem;
        text-align: center;
    }

    .fa-laptop-code {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
    .fa-laptop-code {
        display: none;
    }

    .nav-ul li {
        margin-left:0;
    }

    .nav-a:hover {
        text-decoration: underline;
    }

    nav {
        padding: 1.5rem 0.5rem;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 374px) {

    #navbar {
        padding-top: 2rem;
        width: 100%;
        /* overflow: auto; */
        display: flex;
        justify-content: center;
    }

    .fa-laptop-code {
        display: none;
    }

    .nav-ul li {
        margin-left:0;
    }

    .nav-a:hover {
        text-decoration: underline;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    header nav ul li a .nav-a {
        font-size: .2rem;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    video {
        display: none;
    }

    .clouds {
        background-image: url("./images/purple-cloud-image.png");
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position:relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 20px 5px rgb(27, 27, 27);
    }
}

@media screen and (min-width: 601px) and (max-width: 827px){
    #About {
        flex-direction: column;
        align-items: center;
    }

    .about-h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .about-p-1, .about-p-2, .about-p-3 {
        margin-bottom: 1rem;
    }
}