* {
    box-sizing: border-box;
    background-color: #191919;

}

body {
    margin: 0;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: "Tinos", sans-serif;
    /* background-color: #191919; */
    color: rgb(241, 241, 241);
}

html {
    font-size: 16px;
}

/* HEADER AND NAV PORTION */

header h1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid red;
    /* margin: 0 auto; */
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5rem;
}

header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    margin-top: 0;
    text-align: center;
    font-size: 1.8rem;
}

nav {
    text-align: center;
    border: 2px solid red;
    margin: auto;
    margin-top: 2.5%;
    /* padding-bottom: 0.5%; */
    /* border-bottom: 2px solid black; */
}

.nav-about, .nav-experience, .nav-projects, .nav-contact {
    padding-right: 1.5%;
    padding-left: 1.5%;
    font-size: 1.1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-shadow: 5px 5px 7px pink, 5px 5px 7px yellow;
}

#header-and-nav {
    border: 2px solid red;
    padding: 37vh;
    /* padding-top: 8vh; */
    height: 100%;
    /* box-shadow: 2px 3px 15px 5px rgb(255, 0, 170); */
    background-color: #191919;
    /* margin-right: 1%; */
    /* border-radius: 5px; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* ABOUT ME PORTION */

#about-img {
    border: 2px solid aqua;
    box-shadow: -4px 4px 7px 3px rgb(0, 255, 242);
    border-radius: 50%;
}

#About {
    border: 2px solid rgb(255, 0, 149);
    padding: 10vh;
    margin-top: 2%;
    display: flex;
    border-radius: 20px;;
}

/* .about-h3, .about-p-1, .about-p-2, .about-p-3 {
    border: 2px solid rgb(132, 0, 255);
    display: inline-block;
} */

#article-about-h3-p {
    /* border:2px solid orange; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.about-h3 {
    text-align: center;
    font-size: 1.5rem;
}


/* EXPERIENCE PORTION */

#Experience {
    border: 2px solid rgb(255, 0, 195);
    border-radius: 20px;
    margin-top: 1rem;
    padding: 3%;
    padding-top: 0.50%;

}

.experience-h3 {
    text-align: center;
    font-size: 1.5rem;
}

.tech-skills {
    margin-top: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.tech-skills-list {
    /* border: 2px solid aqua; */
    text-align: center;
    /* list-style-position: inside; */
    /* display: flex;
    flex-direction: column; */
    /* display: inline-block; */
    margin: auto 0;
    font-size: 1.1rem

}

.tech-skills-section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

.tech-skills-image {
    /* border: 2px solid red; */
    border-radius: 10%;
    /* box-shadow: 3px 3px 7px 3px rgb(238, 108, 129); */
}

/* .gen-usa {
    border: 2px solid red;
} */

.name-date {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding: 0;
}

/* .name-bullets {
    border: 2px solid red;
} */

.name-bullets p {
    margin: 0px 0px;
}

.education-h3 {
    text-align: center;
    padding-top: 2%;
    font-size: 1.5rem;
}

/* PROJECTS */
#Projects {
    border: 2px solid pink;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom:1rem;
    border-radius: 20px;
}

.projects-h3 {
    font-size: 1.5rem;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 0;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: space-around;
    padding: 2%;
}

.project-card {
    /* background-color: blue; */
    box-shadow: 3px 3px 7px 3px rgb(238, 108, 129);
    padding: .5rem;
    width: 30%;
}

.project-card img {
    /* max-width: calc(100% - 1rem); */
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 2%;
}

.project-a-title-card {
    text-align: center;
    font-size: 1.5rem;
    /* border: 2px solid yellow; */
    display: block;
}

/* CONTACT ME */
.contact-h3 {
    font-size: 1.5rem;
    text-align: center;
}

.contact-box-form {
    /* border: 2px solid orange; */
    background-color: rgb(33, 33, 33);
    display: flex;
    margin-bottom: 10px;
}

.contact-left {
    /* border: 2px solid red; */
    flex-basis: 60%;
    padding: 20px 30px;
    /* margin-bottom: 20px; */
    box-shadow: 3px -3px 7px 5px rgb(215, 14, 233);
}

.contact-right {
    background-color: rgb(33, 33, 33);
    flex-basis: 40%;
    padding: 20px 40px;
    color: white;
    box-shadow: 3px -3px 7px 5px aqua;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    background-color: rgb(33, 33, 33);
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    padding-bottom: 5px;
    color: white;
}

::placeholder {
    color: rgb(255, 255, 255);
}

textarea {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    padding: 10px;
    background-color: rgb(33, 33, 33);
    color: white;
}

label {
    /* border: 2px solid red; */
    margin-bottom: 6px;
    display: block;
    color:rgb(0, 255, 242);
}

button {
    background-color: rgb(38, 230, 230);
    width: 12%;
    border: none;
    outline: none;
    color: white;
    height: 2rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3)
}

.contact-left h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact-right h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

tr td:first-child {
    padding-right: 1.5rem;
}

tr td {
    padding-top: 2rem;
}

.fa-brands {
    /* border: 2px solid red; */
    font-size: 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.icons {
    text-align: center;
}